# OpenMetadata
OPENMETADATA_DESTINATION__API_URL=https://data-catalog-dev.wb.ru/api
OPENMETADATA_DESTINATION__API_VERSION=v1
OPENMETADATA_DESTINATION__TOKEN=<token>

# Trino connection
TRINO_SOURCE__HOST=dto-trino.wildberries.ru
TRINO_SOURCE__PORT=443
TRINO_SOURCE__USER=<username>

# S3-compatible endpoint
S3_DESTINATION__ENDPOINT=http://localhost:9000
S3_DESTINATION__ACCESS_KEY=minioadmin
S3_DESTINATION__SECRET_KEY=minioadmin
S3_DESTINATION__REGION=us-east-1
S3_DESTINATION__BUCKET=dto-synthetic

# Writing Iceberg tables (Hive Metastore + S3 storage)
HMS_S3_DESTINATION__CATALOG_NAME="synthetic"
HMS_S3_DESTINATION__TYPE="hive"
HMS_S3_DESTINATION__URI="thrift://localhost:9083"
HMS_S3_DESTINATION__WAREHOUSE="s3://dto-synthetic/warehouse/"
HMS_S3_DESTINATION__S3_ACCESS_KEY_ID="minioadmin"
HMS_S3_DESTINATION__S3_SECRET_ACCESS_KEY="minioadmin"
HMS_S3_DESTINATION__WRITE_FORMAT_DEFAULT="parquet"
HMS_S3_DESTINATION__S3_REGION="us-east-1"

# FastAPI app args
FASTAPI__ROOT_PATH=""

# Worker settings (max concurrency and backpressure)
MAX_THREADS=2
MAX_PENDING=3
