# OpenMetadata
OPENMETADATA_DESTINATION__API_URL=https://data-catalog-dev.wb.ru/api
OPENMETADATA_DESTINATION__API_VERSION=v1
OPENMETADATA_DESTINATION__TOKEN=<token>

# Trino connection
TRINO_SOURCE__HOST=dto-trino.wildberries.ru
TRINO_SOURCE__PORT=443
TRINO_SOURCE__USER=<username>

# S3-compatible endpoint
S3_DESTINATION__ENDPOINT=http://localhost:9000
S3_DESTINATION__ACCESS_KEY=minioadmin
S3_DESTINATION__SECRET_KEY=minioadmin
S3_DESTINATION__REGION=us-east-1
S3_DESTINATION__BUCKET=dto-sample-data

# FastAPI app args
FASTAPI__ROOT_PATH=""
